body{
    background-color: var(--neutro02);
    font-family: 'Rubik', sans-serif;
    color: var(--neutro02);
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 59px;    
    width: 100%;
    padding: 20px;
    background-color: transparent;
    z-index: 1000;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.logo{
    top: 0;
    left: 0;

}

.landing{
    display: flex;
    min-height: 100vh;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

h1{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-top: 43px;
}

p{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 36px;
    font-weight: 700;
    margin-top: 182px;
}


